<!DOCTYPE html>
<html>
  <head>
    <title>Splitvilla</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:400,600,700&amp;display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script>
    window.logo = '<%= image_url('splitvillalogo2.png')  %>'
    window.credit= '<%= image_url('splash-credit.jpg')  %>'
    window.splash1= '<%= image_url('splash1.png') %>'
    window.splash2= '<%= image_url('splash2.png') %>'
    window.splash3= '<%= image_url('splash3.png') %>'
    window.splash4= '<%= image_url('splash4.png') %>'
    </script>
    <script src="https://kit.fontawesome.com/caffe9fab8.js"></script>

  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
